/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 25% 75%;
  }
  100% {
    background-position: 75% 25%;
  }
}

/* Class for animated gradient */
.animate-gradient {
  background: linear-gradient(270deg, #ff80b5, #9089fc, #ff80b5, #9089fc);
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
}

@layer utilities{
    .square{
        aspect-ratio: 1/1;
    }
}

@layer base {
  body {
      @apply [scrollbar-color:_#cbd5e1_transparent] dark:[scrollbar-color:_#334155_transparent];
  }
}

@layer components {
  .sidebar-group {
      @apply flex w-full flex-col gap-y-2;
  }

  .sidebar-group-title {
      @apply overflow-hidden text-ellipsis text-sm font-medium text-slate-600 dark:text-slate-400;
  }

  .sidebar-item {
      @apply flex h-[40px] w-full flex-shrink-0 items-center gap-x-3 rounded-lg p-3 text-base font-medium text-slate-900 transition-colors hover:bg-blue-50 dark:text-slate-50 dark:hover:bg-blue-950;
      &.active {
          @apply bg-blue-500 text-slate-50 dark:bg-blue-600;
      }
  }

  .title {
      @apply text-3xl font-semibold text-slate-900 transition-colors dark:text-slate-50;
  } 

  .btn-ghost {
      @apply flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg p-2 text-slate-400 transition-colors hover:bg-blue-50 hover:text-slate-500 dark:hover:bg-blue-950 dark:hover:text-slate-300;
  }

  .link {
      @apply text-base font-medium text-slate-900 transition-colors hover:underline dark:text-slate-50;
  }

  .input {
      @apply hidden h-10 flex-shrink-0 items-center gap-x-2 rounded-lg border border-slate-300 px-2 text-base text-slate-900 transition-colors has-[input:focus]:border-blue-500 md:flex md:w-auto lg:w-80 dark:border-slate-700 dark:text-slate-50 dark:focus:border-blue-600;
  }

  .card {
      @apply flex flex-col gap-y-4 rounded-lg border border-slate-300 bg-white p-4   transition-colors dark:border-slate-700 dark:bg-slate-900 ;
  }
  .card-noboarder{
    @apply flex flex-col gap-y-4 rounded-lg  bg-white p-4    transition-colors  dark:bg-slate-900 ;
  }
  .card-noboarder{
    @apply flex flex-col gap-y-4 rounded-lg  bg-white p-4   transition-colors dark:bg-slate-900 ;
  }
  .inputfield{
    @apply flex flex-col gap-y-1 rounded-lg border border-slate-300 bg-white p-2 transition-colors dark:border-blue-500/20 dark:bg-slate-900 ;
   }
   .bookinputfield{
    @apply flex flex-col gap-y-1 rounded-lg      p-2 transition-colors  dark:bg-slate-950 bg-slate-100 ;
   }

  .card-header {
      @apply flex items-center gap-x-2;
  }

  .card-title {
      @apply font-medium text-slate-900 transition-colors dark:text-slate-50 ;
  }
  .profile-lable{
    @apply font-normal text-slate-900 transition-colors dark:text-slate-50 ;
  }
  .inputlable{
    @apply font-semibold text-slate-500 transition-colors dark:text-slate-500  ;
  }
  .bookinputlable{
    @apply font-semibold text-slate-500  transition-colors dark:text-slate-50  ;
  }

  .card-body {
      @apply flex flex-col gap-y-2 rounded-lg p-4;
  }

  .table {
      @apply h-full w-full text-slate-900 dark:text-slate-50;
  }

  .table-header {
      @apply sticky top-0 bg-slate-200 transition-[background] dark:bg-slate-800 ;
  }

  .table-row {
      @apply border-b border-slate-300 transition-colors last:border-none dark:border-slate-700;
  }

  .table-head {
      @apply h-12 px-4 text-start;
  }

  .table-cell {
      @apply w-fit whitespace-nowrap p-4 font-medium;
  }
  .settings-lable{
    @apply grid items-center gap-x-2 grid-cols-2  md:grid-cols-2  lg:grid-cols-2 xl:grid-cols-2;
  }
  .lable_and_icone{
    @apply w-fit rounded-lg bg-blue-500/20 p-2 text-blue-500 transition-colors dark:bg-blue-600/20 dark:text-blue-600 xl:ml-80 lg:ml-28 md:ml-16 max-w-screen-xl;
  }

}

.recharts-default-tooltip {
  @apply !rounded-lg !border !border-slate-300 !bg-white transition-colors dark:!border-slate-700 dark:!bg-slate-900;
}

.recharts-tooltip-label {
  @apply text-base font-medium text-slate-900 dark:text-slate-50;
}

.recharts-tooltip-item {
  @apply text-base font-medium !text-blue-500 dark:!text-blue-600;
}
